.button {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $white;
  color: $dark-gray;
  border: 2px solid $dark-gray;
  padding: 16px 30px;
  text-align: center;

  &--prev {
    width: 130px;
    padding: 13px 42px 13px 38px;
    border: 1px solid $light-gray;
  }

  &--next {
    width: 130px;
    padding: 13px 42px 13px 37px;
    border: 1px solid $light-gray;
    border-left: 0;
  }

  &--contacts {
    display: block;
    min-width: 260px;
  }

  &--basket {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 19px;
      top: 0;
      left: 0;
      background: url("../img/stack/icon-basket.svg") no-repeat center top / cover;
    }
  }

  &--order {
    padding: 18px 11px;
  }

  &--form {
    min-width: 260px;
  }
}
