.button {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $white;
  color: $dark-gray;
  outline: 2px solid $dark-gray;
  outline-offset: -2px;
  border: none;
  padding: 16px 30px;
  text-align: center;
  cursor: pointer;
  transition: color 0.5s, opacity 0.5s, background-color 0.5s;

  &:hover {
    background-color: $dark-gray;
    color: $white;
  }

  &:focus-visible {
    outline: 2px solid $tiffany;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
  }

  &--prev {
    position: relative;
    width: 130px;
    padding: 13px 42px 13px 38px;
    outline: none;
    border: 1px solid $light-gray;

    &::after {
      position: absolute;
      content: "";
      width: 48px;
      height: 4px;
      top: 23px;
      left: 40px;
      background-color: $black;
    }

    &:hover {
      background-color: $white;
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
      outline: none;
    }

    @media (min-width: $tablet-width) {
      width: 70px;
      padding: 13px 10px;
      border: none;

      &::after {
        top: 23px;
        left: 10px;
      }
    }
  }

  &--next {
    position: relative;
    width: 130px;
    padding: 13px 42px 13px 37px;
    outline: none;
    border: 1px solid $light-gray;
    border-left: 0;

    &::after {
      position: absolute;
      content: "";
      width: 48px;
      height: 4px;
      top: 23px;
      left: 38px;
      background-color: $black;
    }

    &:hover {
      background-color: $white;
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
      outline: none;
    }

    @media (min-width: $tablet-width) {
      width: 70px;
      padding: 13px 10px;
      border: none;

      &::after {
        width: 46px;
        top: 23px;
        left: 14px;
      }
    }
  }

  &--reviews {
    @media (min-width: $tablet-width) {
      position: absolute;
      font-size: 17px;
      width: 175px;
      padding: 16px 26px;
      top: 79px;
      right: 0;
    }

    @media (min-width: $desktop-width) {
      top: 79px;
    }
  }

  &--contacts {
    display: block;
    min-width: 260px;

    @media (min-width: $tablet-width) {
      min-width: 230px;
      font-size: 17px;
    }
  }

  &--order {
    padding: 18px 11px;
    font-size: 18px;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
    }

    @media (min-width: $desktop-width) {
      max-width: 230px;
    }
  }

  &--form {
    min-width: 260px;
    font-size: 17px;
    line-height: 16px;
    padding: 18px 37px;

    @media (min-width: $tablet-width) {
      min-width: 230px;
      max-width: 230px;
      padding: 18px 32px;
    }
  }

  &--promo {
    font-size: 17px;
    border: none;
  }

  &--modal {
    color: $white;
    background-color: $tiffany-button;
    border: 0;
    outline: none;
    font-size: 17px;
    line-height: 16px;
    padding: 18px 30px;

    @media (min-width: $tablet-width) {
      max-width: 350px;
    }
  }
}

.button__arrow {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-top: 4px solid $black;
  border-right: 4px solid $black;

  &--prev {
    top: 16px;
    left: 42px;
    transform: rotate(-135deg);
  }

  &--next {
    top: 16px;
    right: 45px;
    transform: rotate(45deg);
  }

  @media (min-width: $tablet-width) {
    &--prev {
      top: 16px;
      left: 10px;
    }

    &--next {
      top: 16px;
      right: 10px;
    }
  }
}

.button--basket {
  position: relative;
  outline: none;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 19px;
    top: 0;
    left: 0;
    mask-image: url("../img/stack.svg#icon-basket");
    mask-repeat: no-repeat;
    background-color: rgba($color: #000000, $alpha: 0.2);
    transition: background-color 0.5s, opacity 0.5s;
  }

  &:hover {
    background-color: $white;
  }

  &:focus-visible {
    outline: 2px solid $tiffany;
    outline-offset: 2px;
  }

  &:active {
    background-color: $white;
  }
}

.button--basket:hover::after {
  background-color: $tiffany-button;
}

.button--basket:active::after {
  background-color: $tiffany-button;
  opacity: 30%;
}
