.copyright {
  width: 100%;
  min-height: 80px;
}

.copyright__link {
  display: flex;
  width: 260px;
  min-height: 80px;
  padding: 22px 39px 23px;
  gap: 27px;
}

.copyright__title {
  margin-top: 7px;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  margin-left: auto;
}
