.field {
  display: block;
  min-width: 260px;
  min-height: 52px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  padding: 17px 2px;
  border: 0;
  box-shadow: 0 -2px 0 0 $black inset;
  background-color: inherit;
  resize: none;
  transition: outline 0.5s;

  &::placeholder {
    color: $black;
    opacity: 30%;
  }

  &--phone {
    padding: 14px 35px 20px 0;
  }

  &--email {
    padding: 16px 38px 18px 0;
  }

  &--textarea {
    display: inline-block;
    width: 100%;
    min-height: 142px;
    padding: 17px;
    outline: 2px solid $dark-gray;
    box-shadow: none;
  }

  @media (min-width: $tablet-width) {
    min-width: 375px;
    max-height: 52px;
    padding: 17px 16px;
    font-size: 19px;

    &--big {
      min-width: 428px;
    }

    &--phone {
      min-width: 501px;
      padding: 14px 55px 20px 17px;
    }

    &--email {
      min-width: 501px;
      padding: 15px 60px 19px 18px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 573px;

    &--big {
      min-width: 626px;
    }

    &--phone {
      min-width: 700px;
      padding: 14px 40px 20px 17px;
    }

    &--email {
      min-width: 700px;
      padding: 15px 40px 19px 18px;
    }
  }
}
