.link {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $black;

  &--light {
    color: $white;
  }

  &--background {
    background-color: $tiffany;
  }

  &--background-dark {
    background-color: $tiffany-dark;
  }

  &--small {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }

  &--small-height {
    line-height: 18px;
  }

  &--line {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 167px;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: $tiffany-link;
    }
  }

  &--search {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 32px;
      left: 32px;
      background: url("../img/stack/icon-search.svg") no-repeat center center / cover;
    }
  }

  &--basket {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 21px;
      height: 18px;
      top: 31px;
      left: 30px;
      background: url("../img/stack/icon-basket.svg") no-repeat center center / cover;
    }
  }
}
