.main-header {
  min-width: 320px;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  border-bottom: 1px solid $light-gray;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    background: linear-gradient(to bottom, $white 58%, rgba($color: $light-gray, $alpha: 0.25) 58%);

    &--background-dark {
      background: linear-gradient(to bottom, $white 58%, $gray 58%);
    }
  }
}

.main-header__wrapper {
  width: 100%;
  max-width: 1150px;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
