.main-footer {
  width: 100%;
  min-height: 160px;
  flex-grow: 1;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    min-height: 143px;
  }
}

.main-footer__wrapper {
  width: 100%;
  min-height: 160px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 31px 30px 38px;
    min-height: 143px;
  }
}

.main-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 142px;
    height: 74px;
  }
}

.main-footer__link {
  @media (min-width: $tablet-width) {
    display: block;
    width: 142px;
    height: 74px;
    padding: 20px;
  }
}

.main-footer__icon {
  @media (min-width: $tablet-width) {
    width: 102px;
    height: 34px;
  }
}
