.main-navigation {
  position: relative;
  width: 100%;
  background-color: $white;
  color: $black;
  text-align: center;
}

.main-navigation__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 48.3% 51.7%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 455px 295px 399px;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  min-width: 320px;

  &--search {
    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
      flex-direction: row;
      min-width: 396px;
      min-height: 88px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 3 / 4;
      flex-direction: row;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      grid-row: 2 / 3;
      flex-direction: row;
      min-width: 100%;
      max-width: 383px;
      min-height: 66px;
      padding: 11px 0 11px 40px;
      gap: 17px;
      background-color: rgba($color: $light-gray, $alpha: 0.25);
      border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      padding: 0 10px 0 40px;
      min-height: 87px;
      gap: 1px;
      background-color: $white;
      border-top: none;
    }
  }

  &--catalog-background {
    @media (min-width: $tablet-width) {
      background-color: $gray;
    }

    @media (min-width: $desktop-width) {
      background-color: $white;
    }
  }

  &--product {
    display: none;

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 100%;
      max-width: 455px;
      padding: 10px 50px 10px 40px;
      min-height: 62px;
      gap: 35px;
      border-bottom: none;
      background-color: rgba($color: $light-gray, $alpha: 0.25);
      border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }

  &--product-background {
    @media (min-width: $desktop-width) {
      background-color: $gray;
    }
  }
}

.main-navigation__item {
  display: block;
  min-width: 320px;
  min-height: 77px;

  &--search {
    @media (min-width: $tablet-width) {
      min-width: 80px;
      min-height: 88px;
      box-shadow: inset 1px 0 0 0 rgba($color: #000000, $alpha: 0.1), inset -1px 0 0 0 rgba($color: #000000, $alpha: 0.1);
    }
  }

  &--basket {
    @media (min-width: $tablet-width) {
      min-width: 79.4%;
      max-width: 314px;
      min-height: 88px;
    }

    @media (min-width: $desktop-width) {
      min-width: 316px;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      min-width: 150px;
      min-height: 44px;
    }

    @media (min-width: $desktop-width) {
      min-width: 195px;
      min-height: 87px;
      border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }

  &--knitting {
    @media (min-width: $tablet-width) {
      min-width: 160px;
      min-height: 44px;
    }

    @media (min-width: $desktop-width) {
      min-width: 202px;
      min-height: 87px;
    }
  }

  &--new {
    @media (min-width: $desktop-width) {
      min-width: 179px;
      max-width: 179px;
      min-height: 42px;
    }
  }

  &--sale {
    @media (min-width: $desktop-width) {
      min-width: 130px;
      max-width: 130px;
      min-height: 42px;
    }
  }
}

.main-navigation__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__item a {
  @media (max-width: $mobile-width-only) {
    display: block;
    width: 100%;
    min-height: 79px;
    font-size: 17px;
    text-align: left;
    box-shadow: 0 1px 0 0 $light-gray inset, 0 1px 0 0 $light-gray inset;
  }

  &:hover {
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &:focus-visible {
    color: $tiffany-hover;
    outline: none;
  }

  &:active {
    color: rgba($color: #000000, $alpha: 0.3);
  }
}

.main-navigation__toggle {
  position: absolute;
  content: "";
  top: -80px;
  right: 0;
  display: block;
  margin-right: auto;
  padding: 0;
  width: 82px;
  height: 80px;
  background-color: $white;
  border: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.5s;

  @media (min-width: $tablet-width) {
    display: none;
    z-index: 0;
  }

  &:hover {
    opacity: 60%;
  }

  &:focus-visible {
    outline: 2px solid $tiffany-link;
    outline-offset: -2px;
  }

  &:active {
    opacity: 30%;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  position: absolute;
  content: "";
  top: 32px;
  right: 31px;
  width: 20px;
  height: 2px;
  z-index: 3;
  background-color: $black-network;
  box-shadow: 0 6px 0 0 $black-network, 0 12px 0 0 $black-network;
}

.main-navigation--closed .main-navigation__wrapper {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 1s;
  }
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 32px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-navigation--opened .main-navigation__wrapper {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 1s;
  }
}

.main-navigation--opened .main-navigation__wrapper::after {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    top: 100%;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $light-gray;
  }
}

.main-navigation__bonus {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  display: none;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    display: block;
    min-width: 100%;
    max-width: 401px;
    padding: 20px 50px 22px;
    min-height: 66px;
    background-color: rgba($color: $light-gray, $alpha: 0.25);
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    text-align: right;

    &--background {
      background-color: $gray;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    max-width: 694px;
    padding: 20px 50px 18px;
    min-height: 62px;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__wrapper {
  position: static;
  min-height: 0;
}

.main-navigation--nojs .main-navigation__wrapper::after {
  display: none;
}

.main-navigation--nojs .main-navigation__item {
  display: block;
}

.main-navigation--nojs ~ a {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    transition: opacity 0.5s;
  }
}
