.order-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 30px 45px;
}

.order-form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 10px 0;
}
