.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100%;
  background-color: $white;
  color: $dark-gray;
}

.page__body {
  min-width: 320px;
  max-width: 1150px;
  min-height: 100%;
  background-color: $white;
  margin: 0 auto;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-footer__logo {
  display: none;
}
