.product-card {
  min-width: 260px;
  min-height: 374px;

  @media (min-width: $tablet-width) {
    min-width: 668px;
    min-height: 334px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 315px;
    min-height: 659px;
  }
}

.product-card__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-width: 668px;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    min-width: 315px;
    min-height: 659px;
  }
}

.product-card__container:hover .product-card__information-wrapper {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product-card__container:focus-within {
  outline: 2px solid $tiffany-link;
}

.product-card__container:active .product-card__information-wrapper {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product-card__picture-link {
  display: block;
  min-width: 260px;
  min-height: 195px;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &:focus-visible {
    opacity: 60%;
    outline: none;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    min-width: 334px;
    min-height: 334px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 315px;
    min-height: 462px;
  }
}

.product-card__picture {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product-card__information-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    outline-offset: -1px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.product-card__information-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
  padding: 27px 28px 18px 28px;

  &::after {
    position: absolute;
    content: "";
    width: 204px;
    height: 1px;
    bottom: 0;
    left: 28px;
    background-color: $light-gray;
  }

  &:hover .product-card__title {
    opacity: 60%;
  }

  &:focus-visible {
    opacity: 60%;
    outline: none;
  }

  &:active .product-card__title {
    opacity: 30%;
  }

  &--big-basket {
    padding: 24px 28px 18px 28px;
    gap: 10px;
  }

  @media (min-width: $tablet-width) {
    min-width: 334px;
    max-width: 334px;
    min-height: 260px;
    padding: 26px 70px 148px 34px;

    &::after {
      width: 268px;
      left: 34px;
    }

    &--basket {
      gap: 10px;
    }

    &--big-basket {
      padding: 25px 70px 148px 33px;
      gap: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 315px;
    min-height: 124px;
    padding: 27px 58px 13px 28px;

    &::after {
      width: 256px;
      left: 28px;
    }

    &--basket {
      gap: 7px;
    }

    &--big-basket {
      gap: 7px;
    }
  }
}

.product-card__description {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  color: $dark-gray;
  font-size: 13px;
  line-height: 30px;

  &--basket {
    gap: 4px;
  }

  @media (min-width: $tablet-width) {
    gap: 5px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    &--basket {
      gap: 4px;
    }
  }
}

.product-card__describe {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0;
  min-width: 70px;
  max-width: 95px;
  gap: 2px;

  &--height {
    gap: 3px;
  }

  @media (min-width: $tablet-width) {
    max-width: 111px;

    &--weight {
      gap: 4px;
    }

    &--diameter {
      gap: 4px;
    }
  }
}

.product-card__comment {
  margin-inline: 0;
}

.product-card__order {
  min-width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 81px;
  padding: 21px 27px 26px 28px;

  @media (min-width: $tablet-width) {
    max-width: 334px;
    padding: 23px 32px 26px 34px;
    font-size: 17px;
    gap: 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 31px 24px 28px;
  }
}

.product-card__price {
  margin-block: 0;
  margin-top: 1px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  color: $black;
  max-width: 104px;

  @media (min-width: $tablet-width) {
    max-width: 114px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.product-card__button {
  width: 20px;
  height: 24px;
  padding: 0;
  border: none;
  align-self: center;
}
