.video-about {
  width: 100%;
  padding: 0 30px 58px;

  @media (min-width: $tablet-width) {
    padding: 10px 50px 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 50px 105px;
  }
}

.video-about__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 260px;
  min-height: 503px;
  outline: 1px solid $light-gray;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 668px;
    min-height: 743px;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 683px 367px;
    gap: 0;
    min-width: 100%;
    min-height: 455px;
  }
}

.video-about__wrapper:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.video-about__wrapper:active {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.video-about__information-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  min-height: 96px;
  padding: 22px 13px 27px 34px;

  @media (min-width: $tablet-width) {
    padding: 38px 40px 13px 41px;
    gap: 33px;
    min-height: 78px;
    order: 2;
    border-top: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    flex-direction: column;
    padding: 47px 110px 14px 79px;
    gap: 27px;
    min-height: 158px;
  }
}

.video-about__title {
  display: block;
  max-width: 150px;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
    max-width: 500px;
    padding-right: 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 200px;
  }
}

.video-about__icon-wrapper {
  display: block;
  min-width: 32px;
  height: 48px;
  padding: 13px 0;

  @media (min-width: $tablet-width) {
    height: 22px;
    padding: 0;
  }
}

.video-about__description-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 41px;
  justify-content: space-between;
  min-height: 257px;
  padding: 35px 33px 33px 34px;

  @media (min-width: $tablet-width) {
    padding: 12px 42px 45px 40px;
    min-height: 210px;
    gap: 38px;
    order: 3;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 13px 36px 57px 79px;
    min-height: 296px;
    gap: 50px;
  }
}

.video-about__picture-wrapper {
  position: relative;
  min-width: 260px;
  min-height: 150px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 668px;
    min-height: 455px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    min-width: 683px;
    min-height: 455px;
  }
}

.video-about__poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 260px;
  min-height: 150px;

  @media (min-width: $tablet-width) {
    min-width: 668px;
    min-height: 445px;
  }

  @media (min-width: $desktop-width) {
    min-width: 683px;
    min-height: 455px;
  }
}

.video-about__button {
  position: absolute;
  width: 101px;
  height: 77px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: inherit;
  background-image: url("../img/stack.svg#icon-video-button");
  border: none;
  cursor: pointer;
  transition: transform 0.5s, opacity 0.5s;

  @media (min-width: $tablet-width) {
    min-width: 102px;
    min-height: 78px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:focus-visible {
    opacity: 60%;
    border: none;
    outline: none;
  }

  &:active {
    transform: scale(0.8);
    opacity: 30%;
  }
}
