//размеры блоков
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

//цвета
$white: #ffffff;
$black: #000000;
$gray: #f1f1f1;
$smoky-gray: #f9f9f9;
$light-gray: #ececec;
$dark-gray: #444444;
$tiffany: #61d1bb;
$tiffany-dark: #56c3b2;
$tiffany-icon: #149080;
$tiffany-link: #62d1ba;
$tiffany-button: #63d1bb;
$black-network: #231f20;
$border: #e5e5e5;
